

.drop-zone {
	margin: auto;
	width: 66rem;
	height: 36rem;
	border-radius: 0.2rem;
	border: #3884ff 2px solid;
	display: inline-block;
}

#drop-zone p {
	color: #11346d;
}

#file-list {
	list-style-type: none;
	padding-left: 0rem;
}

#file-list li {
	margin-top: 0.1rem;
	border: black 1px solid;
	border-radius: 0.5rem;
	background-color: #becfea;
	padding: 1rem;
	display: flex;
}

#file-list li .file-name {
	width: 80%;
	font-size: 2rem;
	text-align: left;
}

#file-list li .file-size {
	font-size: 1.5rem;
	color: blue;
	width: 10%;
	text-align: right;
}

#file-list li button {
	color: blue;
	margin-left: 10%;
	text-align: right;
}
